<!DOCTYPE html>
<html>
  <head>
    <title> Instamap </title>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
  </head>

  <body>
    <h1>
      Interesting Places Through Instagram
    </h1>
    <br>

    <div id="start"></div>
    <form action="/getCityInfo/" method="post">
        <label for="city-name">City name: </label>
        <input id="city-name" type="text" name="city-name" value="{{ cityName }}">  <br>
        <label for="initial-time">Initial hour: </label>
        <input id="initial-time" type="text" name="initial-time" value="{{ initialHour }}"> <br>
        <label for="final-time">Final hour: </label>
        <input id="final-time" type="text" name="final-time" value="{{ finalHour }}"> <br>
        <input type="submit" value="Ok">
    </form>

    <div id="map"></div>

    <script type="text/javascript">
      function initMap() {
        var myLatLng = {
          lat: {{coordinate.latitude}},
          lng: {{coordinate.longitude}}
        };

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          scrollwheel: false,
          zoom: 14
        });

        {% for latitude, longitude, link in photoTuples %}
          var photoLatLng = {
            lat: {{latitude}},
            lng: {{longitude}}
          };
          // Create a marker and set its position.
          var marker = new google.maps.Marker({
            map: map,
            position: photoLatLng,
            title: '{{link}}',
            url: '{{link}}'
          });
          google.maps.event.addListener(marker, 'click', function() {
            window.location.href = this.url;
          });
        {% endfor %}
      }
    </script>


    {% for number, links in photoAlbums %}
      <div id='{{number}}' >
        <h2> {{number}} </h2>
          {% for link in links %}
            <a href="{{link}}">{{link}}</a> <br>
          {% endfor %}
      </div>
    {% endfor %}

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGxPX5oAZSrYWoHSSXja0HNFOTQ4NAlp4&callback=initMap">
    </script>

  </body>
</html>
