<!DOCTYPE html>
<html>
  <head>
    <title> Instamap </title>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
  </head>

  <body>

    <div id="start"></div>
    <form action="/getCityInfo/" method="post">
        <label for="city-name">City name: </label>
        <input id="city-name" type="text" name="city-name" value="{{ cityName }}">
        <input type="submit" value="Ok">
    </form>

    <h3>
      Latitude: {{coordinate.latitude}} <br>
      Longitude: {{coordinate.longitude}}
    </h3>
    <div id="map"></div>

    <!--
    <script type="text/javascript">
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: {{coordinate.latitude}}, lng: {{coordinate.longitude}}},
          zoom: 14
        });
      }
    </script>
  -->

    <script type="text/javascript">
      function initMap() {
        var myLatLng = {
          lat: {{coordinate.latitude}},
          lng: {{coordinate.longitude}}
        };

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          scrollwheel: false,
          zoom: 14
        });

        {% for latitude, longitude, link in photoTuples %}
          var photoLatLng = {
            lat: {{latitude}},
            lng: {{longitude}}
          };
          // Create a marker and set its position.
          var marker = new google.maps.Marker({
            map: map,
            position: photoLatLng,
            title: '{{link}}',
            url: '{{link}}'
          });
          google.maps.event.addListener(marker, 'click', function() {
            window.location.href = this.url;
          });
        {% endfor %}
      }
    </script>


    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGxPX5oAZSrYWoHSSXja0HNFOTQ4NAlp4&callback=initMap">
    </script>

  </body>
</html>
